<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.fmobile.spinthewheel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpinTheWheel">
        <activity
            android:name=".screens.AddWheelActivity"
            android:label="Vòng quay mới"
            android:parentActivityName=".screens.HomeActivity"
             />
        <activity
            android:name=".screens.CustomizeWheelActivity"
            android:parentActivityName=".screens.SpinActivity"
            android:label="Chỉnh sửa"
            />
        <activity android:name=".screens.HomeActivity"

            />
        <activity
            android:name=".screens.HistoryActivity"
            android:label="Lịch sử"
            android:parentActivityName=".screens.SpinActivity"
             />
        <activity
            android:name=".screens.SpinActivity"
            android:parentActivityName=".screens.HomeActivity"
            android:label="Vòng quay"
           />
        <activity
            android:name=".screens.SplashScreenActivity"
            android:theme="@style/Theme.SpinTheWheel.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>